<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>DashBoard page</title>
</head>
<body>

	<section>
		<div class="card ms-3 me-3">
			<div class="card-body">
				<div class="container" th:if="${session.message}">
					<div class="alert text-center"
						th:classappend="${session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
						<th:block th:text="${@sessionsHelper.removeMessageFromSession()}"></th:block>
					</div>
				</div>
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<form method="post" th:object="${contact}"
								enctype="multipart/form-data" action="#"
								th:action="@{/user/process-update-contact}" class="mt-2">
								
								<input type="hidden" name="cid" th:value="${contact.cid}" />
								<!-- Name  -->
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i
										class="fa fa-plus"></i></span> <input required type="text"
										th:value="${contact.name}" name="name" class="form-control"
										placeholder="Username" aria-label="Username"
										aria-describedby="basic-addon1">
								</div>
								<!-- Second name -->
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i
										class="fa fa-user"></i></span> <input required type="text"
										th:value="${contact.secondName}" name="secondName"
										class="form-control" placeholder="Enter Nick Name"
										aria-label="SecondName" aria-describedby="basic-addon1">
								</div>
								<!-- Phone number -->

								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i
										class="fa fa-phone"></i></span> <input required min=10 max=10
										th:value="${contact.phone}" type="text" class="form-control"
										placeholder="Enter the Phone number" name="phone"
										aria-label="PhoneNumber" aria-describedby="basic-addon1">
								</div>


								<!-- Email -->
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i
										class="fa-regular fa-envelope"></i> </span> <input required
										th:value="${contact.email}" type="email" class="form-control"
										placeholder="Enter the Email" name="email" aria-label="Email"
										aria-describedby="basic-addon1">
								</div>
								<!-- work-->
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1"><i
										class="fa-solid fa-briefcase"></i> </span> <input required
										th:value="${contact.work}" type="text" class="form-control"
										placeholder="Enter the work related things!" name="work"
										aria-label="work" aria-describedby="basic-addon1">
								</div>

								<!-- Contact-Description-->

								<div class="input-group mb-3">
									<div class="container"><label for="Passsword" class="form-label">Write Brief
										Description </label></div>
									<textarea name="description" id="mytextarea" placeholder="Write Brief Description" th:text="description"
										class="form-control" rows="10"></textarea>
								</div>
								<!-- Old Image -->
								<div class="container text-center">

									<p>old profile</p>
									<img style="height: 250px; width: 250px;"
										th:src="@{'/img/'+${contact.image}}" alt="Profile Pic"
										class="img-fluid my_profile_picture" />
								</div>

								<!--file upload  -->
								<div class="input-group mb-3">
									<label class="input-group-text" for="inputGroupFile01">Choose
										new profile picture</label> <input name="image" type="file"
										class="form-control" id="inputGroupFile01">
								</div>
								<button type="submit" class="btn btn-primary">Save
									Contact</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>